html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__logo2{
    display: none;
    font-size: 24px;
}
.menu__links{
    display: flex;
    align-items: flex-end;
    gap: 65px;
   
}

.menu__icon{
    background-color: #C1FF7F;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    color: #83AE56;
    font-size: 14px;
}




.main{
    padding-top: 100px;
}

.dropdown{
    position: fixed;
    top: 0;
    margin-top: 80px;
    right: 190px;
    background-color: #3D3E4D;
    border-radius: 0 0 20px 20px;
    z-index: 998;
    display: none;
}
.menu__info{
    display: flex;
    flex-direction: column;
    padding: 0 40px 30px 40px;
}
.menu__info__link{
    padding-top: 10px;
}
.list__test__holder{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 55px;
    
}
.list__test__btn{
    color: #ffffff;
    background-color: #50526F;
    border-radius: 20px;
    padding: 27px 40px;
    
    transition: 0.5s;
}
.list__test{
    display: flex;
    align-items: flex-start;
    gap: 130px;
}
.test__text {
    text-align: start;
}
.list__test__btn:hover{
   transform: scale(1.1);
}
.test__title{
    width: 290px;
    padding-bottom: 20px;
    text-align: start;
}
.test__title span{
    font-size: 24px;
}
.test__text span{
    color: #9B9EC8;
    font-size: 20px;
}
.test__text2 span{
    color: #9B9EC8;
    font-size: 16px;
}
.test__text2{
    display: none;
}

.buttons__info__holder{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.buttons__info{
    background-color: #ffffff;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 110px;
}
.butt__view{
    background-color: inherit;
    font-size: 20px;
}
.butt__view:focus{
    color: #3561FF;
}

.course__title{
    display: flex;
    justify-content: center;
}
.course__title span{
    font-size: 24px;
}
.buttons__info{
    display: flex;
}
.course__holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 150px;
}
.course__list{
    display: grid;
    grid-template-columns: repeat(2, 368px);
    grid-gap: 30px 50px;
}

.red__butt{
    background-color: #FCD4D4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.red__butt:hover{
    transform: scale(1.1);
}
.blue__butt{
    background-color: #C5DDF4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.blue__butt:hover{
    transform: scale(1.1);
}
.orange__butt{
    background-color: #FEE4C2;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.orange__butt:hover{
    transform: scale(1.1);
}
.yellow__butt{
    background-color: #F7FAC0;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
}
.yellow__butt:hover{
    transform: scale(1.1);
}
.green__butt{
    background-color: #DBFFB5;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.green__butt:hover{
    transform: scale(1.1);
}

.tittle__butt{
    display: flex;
    justify-content: flex-start;
}
.tittle__butt span{
    font-size: 10px;
    color: #50526F;
}
.info__butt{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 25px;
    gap: 17px;
}
.name__butt{
    display: flex;
    justify-content: flex-start;
    width: 202px;
}
.name__butt span{
    font-size: 18px;
    text-align: start;
}
.color__text{
    display: flex;
    justify-content: flex-start;
}
.color__text span{
    color: #F9874A;
    font-size: 14px;
}
.text__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.month{
    color: #50526F;
    font-size: 12px;
}
.view__holder{
    background-color: #ffffff;
    padding: 3px 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.view{
    color: #3561FF;
    font-size: 14px;
}

.footer{
    padding: 10px 0 50px 0;
    background-color: inherit;
}
.title__icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.text__icon{
    color: #4E4E4E;
    font-size: 24px;
}
.text__year{
    color: #4E4E4E;
    font-size: 20px;
}


@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1360px) {
    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
    .dropdown {
        right: 160px;
    }
}
@media (max-width: 1200px) {
    .buttons__info {
        padding: 5px 70px;
    }
}
@media (max-width: 1050px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .dropdown {
        right: 120px;
    }
    .course__list {
        grid-template-columns: repeat(2, 335px);
        grid-gap: 30px 30px;
    }
    .name__butt {
        width: 170px;
    }
}
@media (max-width: 950px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .dropdown {
        right: 80px;
    }
    .buttons__info {
        gap: 20px;
    }
    .buttons__info {
        gap: 10px 10px;
        flex-wrap: wrap;
    }
    .list__test {
        gap: 60px;
    }
}
@media (max-width: 870px) {
    
    .course__list {
        grid-template-columns: repeat(2, 258px);
    }
    .color__text {
        justify-content: center;
    }
    .info__butt {
        flex-direction: column;
        align-items: center;
    }
    .name__butt {
        width: 202px;
        justify-content: center;
    }
    .name__butt span {
        text-align: center;
    }
    .text__icon {
        font-size: 22px;
    }
    .text__year {
        font-size: 18px;
    }
}
@media (max-width: 740px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .dropdown {
        right: 40px;
    }
}
@media (max-width: 650px) {
    .course__list {
        grid-template-columns: repeat(1, 369px);
    }
    .color__text {
        justify-content: flex-start;
    }
    .info__butt {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .name__butt {
        width: 202px;
        justify-content: flex-start;
    }
    .name__butt span {
        text-align: start;
    }
    .course__title span {
        font-size: 22px;
    }
    .butt__view {
        font-size: 18px;
    }
    .test__title span {
        font-size: 22px;
    }
    .test__text span {
        font-size: 18px;
    }
    .test__inf {
        width: 220px;
    }
    .test__title {
        width: 220px;
        padding-bottom: 15px;
    }
    .text__icon {
        font-size: 20px;
    }
    .text__year {
        font-size: 16px;
    }
}
@media (max-width: 590px) {
    .test__title {
        width: 206px;
    }
    .test__inf {
        width: 206px;
    }
    .test__title span {
        font-size: 20px;
    }
    .test__text span {
        font-size: 16px;
    }
}
@media (max-width: 570px) {
    
    .menu__logo{
        display: none;
    }
    .menu__logo2{
        display: block;
    }
}
@media (max-width: 530px) {
    .butt__view {
        font-size: 16px;
    }
    .course__title span {
        font-size: 20px;
    }
    .test__text{
        display: none;
    }
    .test__text2{
        display: flex;
        justify-content: center;
    }
    .text__icon {
        font-size: 18px;
    }
    .text__year {
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .list__test {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .test__inf {
        width: 255px;
        display: flex;
        justify-content: center;
    }
    .test__title {
        width: 255px;
        text-align: center;
    }
    .test__image img{
        max-width: 80%;
    }
}
@media (max-width: 460px) {
    .course__list {
        grid-template-columns: repeat(1, 308px);
    }
    .name__butt span {
        font-size: 14px;
    }
    .name__butt {
        width: 140px;
    }
    .course__title span {
        font-size: 18px;
    }
    .course__holder {
        padding-top: 55px;
        padding-bottom: 110px;
    }
    .buttons__info__holder {
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .butt__view {
        font-size: 14px;
    }
    .buttons__info {
        padding: 5px 20px;
    }
    .test__text2 span {
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    .menu__links {
        gap: 40px;
    }
    .test__title {
        width: 185px;
    }
    .list__test__btn {
        padding: 27px 10px;
    }
    .test__title span {
        font-size: 18px;
    }
    .text__icon {
        font-size: 16px;
    }
    .text__year {
        font-size: 12px;
    }
}
@media (max-width: 390px) {
    .menu__links {
        gap: 30px;
    }
    .course__title span {
        text-align: center;
    }
    .test__inf {
        width: 185px;
    }
    .test__text2 span {
        font-size: 12px;
    }
    .course__list {
        grid-template-columns: repeat(1, 218px);
    }
    .info__butt {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 12px;
    }
    .name__butt span {
        text-align: center;
    }
    .name__butt {
        width: 170px;
        justify-content: center;
    }
    .color__text {
        justify-content: center;
    }
    .card__image img{
        max-width: 70%;
    }
    .month {
        font-size: 10px;
    }
    .view {
        font-size: 10px;
    }
    .butt__view {
        font-size: 12px;
    }
}

