html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__logo2{
    display: none;
    font-size: 24px;
}
.menu__links{
    display: flex;
    gap: 23px;
   
}
.menu__links span{
    font-size: 16px;
}
.color{
    border-radius: 5px;
    padding: 0 3px 0 3px;
}
.color2{
    border-radius: 5px;
    padding: 0 3px 0 3px;
    color: #F9874A;
}
.color:hover{
    background-color: #F9874A;
    transition: 0.1s;
    
}
.menu__btn{
    display: none;
    border: none;
    outline: none;
    width: 62px;
    height: 26px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}
.menu__btn span {
    background-color: #ffffff;
    height: 4px;
    border-radius: 1px;
    width: 100%;
}


.main{
    padding-top: 100px;
}
.dropdownmenu {
    display: none;
    position: fixed;
    top: 0;
    margin-top: 70px;
    right: 0;
    background-color: #2f2f32;
    border-radius: 0 0 10px 10px;
    z-index: 998;
}
.nav__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 20px;
    color: #ffffff;
}
.buttons__info__holder{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.buttons__info{
    background-color: #ffffff;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 110px;
    max-width: 100%;
}
.butt__view{
    background-color: inherit;
    font-size: 20px;
}
.butt__view:focus{
    color: #3561FF;
}

.course__title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.course__title span{
    font-size: 24px;
}
.course__holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 150px;
}
.course__list{
    display: grid;
    grid-template-columns: repeat(2, 368px);
    grid-gap: 30px 50px;
}

.red__butt{
    background-color: #FCD4D4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.red__butt:hover{
    transform: scale(1.1);
}
.blue__butt{
    background-color: #C5DDF4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.blue__butt:hover{
    transform: scale(1.1);
}
.orange__butt{
    background-color: #FEE4C2;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.orange__butt:hover{
    transform: scale(1.1);
}
.yellow__butt{
    background-color: #F7FAC0;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
}
.yellow__butt:hover{
    transform: scale(1.1);
}
.green__butt{
    background-color: #DBFFB5;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.green__butt:hover{
    transform: scale(1.1);
}

.tittle__butt{
    display: flex;
    justify-content: flex-start;
}
.tittle__butt span{
    font-size: 10px;
    color: #50526F;
}
.info__butt{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 25px;
    gap: 17px;
}
.name__butt{
    display: flex;
    justify-content: flex-start;
    width: 202px;
}
.name__butt span{
    font-size: 18px;
    text-align: start;
}
.color__text{
    display: flex;
    justify-content: flex-start;
}
.color__text span{
    color: #F9874A;
    font-size: 14px;
}
.text__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.month{
    color: #50526F;
    font-size: 12px;
}
.view__holder{
    background-color: #ffffff;
    padding: 3px 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.view{
    color: #3561FF;
    font-size: 14px;
}



.footer{
    background-color: #1E1E1E;
    padding: 70px 0 90px 0;
}
.links{
    display: flex;
    justify-content: space-between;
}
.log span{
    font-size: 20px;
}
.log2{
    display: none;
}
.log2 span{
    font-size: 20px;
}
.numb{
    max-width: 260px;
}

.numb span{
    font-size: 16px;
    text-align: center;
}
.numb p{
    font-size: 14px;
}
.socialmedia span{
    font-size: 20px;
}
.links__media{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}


@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}


@media (max-width: 1360px) {
    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
}
@media (max-width: 1200px) {
    .buttons__info {
        padding: 5px 70px;
    }
}
@media (max-width: 1050px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .course__list {
        grid-template-columns: repeat(2, 335px);
        grid-gap: 30px 30px;
    }
    .name__butt {
        width: 170px;
    }
}
@media (max-width: 950px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .buttons__info {
        gap: 20px;
    }
    .buttons__info {
        gap: 10px 10px;
        flex-wrap: wrap;
    }
}
@media (max-width: 870px) {
    .menu__logo{
        display: none;
    }
    .menu__logo2{
        display: block;
    }
    .course__list {
        grid-template-columns: repeat(2, 258px);
    }
    .color__text {
        justify-content: center;
    }
    .info__butt {
        padding-top: 25px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .name__butt {
        width: 202px;
        justify-content: center;
    }
    .name__butt span {
        text-align: center;
    }
    .log{
        display: none;
    }
    .log2{
        display: block;
    }
    .numb {
        max-width: 185px;
    }
}
@media (max-width: 740px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
}
@media (max-width: 650px) {
    .course__list {
        grid-template-columns: repeat(1, 369px);
    }
    .color__text {
        justify-content: flex-start;
    }
    .info__butt {
        padding-top: 45px;
        padding-bottom: 25px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .name__butt {
        width: 202px;
        justify-content: flex-start;
    }
    .name__butt span {
        text-align: start;
    }
    .course__title span {
        font-size: 22px;
    }
    .butt__view {
        font-size: 18px;
    }
    .menu__links{
        display: none;
    }
    .menu__btn{
        display: flex;
    }
    .menu {
        align-items: flex-end;
    }
    .socialmedia span {
        font-size: 18px;
    }
    .numb p {
        font-size: 12px;
    }
    .numb span {
        font-size: 14px;
    }
    .log2 span {
        font-size: 18px;
    }
    .img__link{
        width: 39px;
        height: 39px;
    }
    .numb {
        max-width: 130px;
    }
}
@media (max-width: 530px) {
    .butt__view {
        font-size: 16px;
    }
    .course__title span {
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .links {
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .log{
        display: block;
    }
    .log span{
        font-size: 18px;
    }
    .log2{
        display: none;
    }
    .numb {
        max-width: 175px;
        text-align: center;
    }
    
}
@media (max-width: 460px) {
    .course__list {
        grid-template-columns: repeat(1, 308px);
    }
    .name__butt span {
        font-size: 14px;
    }
    .name__butt {
        width: 140px;
    }
    .course__title span {
        font-size: 18px;
    }
    .course__holder {
        padding-top: 55px;
        padding-bottom: 110px;
    }
    .buttons__info__holder {
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .butt__view {
        font-size: 14px;
    }
    .buttons__info {
        padding: 5px 20px;
    }
}
@media (max-width: 390px) {
    .course__list {
        grid-template-columns: repeat(1, 218px);
    }
    .info__butt {
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 12px;
    }
    .name__butt span {
        text-align: center;
    }
    .name__butt {
        width: 170px;
        justify-content: center;
    }
    .color__text {
        justify-content: center;
    }
    .card__image img{
        max-width: 70%;
    }
    .month {
        font-size: 10px;
    }
    .view {
        font-size: 10px;
    }
    .butt__view {
        font-size: 12px;
    }
}
