html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__links{
    display: flex;
    gap: 23px;
   
}
.menu__links span{
    font-size: 16px;
}
.color{
    border-radius: 5px;
    padding: 0 3px 0 3px;
}
.color2{
    border-radius: 5px;
    padding: 0 3px 0 3px;
    color: #F9874A;
}
.color:hover{
    background-color: #F9874A;
    transition: 0.1s;
    
}



.main{
    padding-top: 100px;
}

.buttons__info__holder{
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.buttons__info{
    background-color: #ffffff;
    display: flex;
    gap: 30px;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 110px;
}
.butt__view{
    background-color: inherit;
    font-size: 20px;
}
.butt__view:focus{
    color: #3561FF;
}

.course__title{
    display: flex;
    justify-content: center;
}
.course__title span{
    font-size: 24px;
}
.buttons__info{
    display: flex;
}
.course__holder {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 150px;
}
.course__list{
    display: grid;
    grid-template-columns: repeat(2, 368px);
    grid-gap: 30px 50px;
}

.red__butt{
    background-color: #FCD4D4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.red__butt:hover{
    transform: scale(1.1);
}
.blue__butt{
    background-color: #C5DDF4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.blue__butt:hover{
    transform: scale(1.1);
}
.orange__butt{
    background-color: #FEE4C2;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.orange__butt:hover{
    transform: scale(1.1);
}
.yellow__butt{
    background-color: #F7FAC0;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
}
.yellow__butt:hover{
    transform: scale(1.1);
}
.green__butt{
    background-color: #DBFFB5;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.green__butt:hover{
    transform: scale(1.1);
}

.tittle__butt{
    display: flex;
    justify-content: flex-start;
}
.tittle__butt span{
    font-size: 10px;
    color: #50526F;
}
.info__butt{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 25px;
    gap: 17px;
}
.name__butt{
    display: flex;
    justify-content: flex-start;
    width: 202px;
}
.name__butt span{
    font-size: 18px;
    text-align: start;
}
.color__text{
    display: flex;
    justify-content: flex-start;
}
.color__text span{
    color: #F9874A;
    font-size: 14px;
}
.text__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 154px;
}
.month{
    color: #50526F;
    font-size: 12px;
}
.view__holder{
    background-color: #ffffff;
    padding: 3px 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.view{
    color: #3561FF;
    font-size: 14px;
}



.footer{
    background-color: #1E1E1E;
    padding: 70px 0 90px 0;
}
.links{
    display: flex;
    justify-content: space-between;
}
.log span{
    font-size: 20px;
}
.numb{
    max-width: 260px;
}

.numb span{
    font-size: 16px;
    text-align: center;
}
.numb p{
    font-size: 14px;
}
.socialmedia span{
    font-size: 20px;
}
.links__media{
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}


@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}