html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__logo2{
    display: none;
    font-size: 24px;
}
.menu__links{
    display: flex;
    align-items: flex-end;
    gap: 65px;
   
}

.menu__icon{
    background-color: #C1FF7F;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    color: #83AE56;
    font-size: 14px;
}




.main{
    padding-top: 100px;
}

.dropdown{
    position: fixed;
    top: 0;
    margin-top: 80px;
    right: 190px;
    background-color: #3D3E4D;
    border-radius: 0 0 20px 20px;
    z-index: 998;
    display: none;
}
.menu__info{
    display: flex;
    flex-direction: column;
    padding: 0 40px 30px 40px;
}
.menu__info__link{
    padding-top: 10px;
}


.title__profile{
    padding-top: 50px;
}
.title__profile span{
    font-size: 24px;
}
.list__info__title{
    padding-bottom: 30px;
}
.list__info__title span{
    font-size: 24px;
}
.profile__holder {
    background-color: #2E2E35;
    padding: 24px 33px 24px 33px;
    border-radius: 20px 0 20px 0;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.profile__list {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.names{
    font-size: 36px;
}
.username{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.years{
    font-size: 24px;
}

.profile__info {
    background-color: #2E2E35;
    padding: 24px 33px 30px 33px;
    border-radius: 20px 0 20px 0;
    margin-bottom: 120px;
}
.list__info {
    display: flex;
    justify-content: space-between;
}
.form__group{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.form__group__save{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.form__group label{
    padding-bottom: 10px;
}
.form__text{
    width: 420px;
    height: 60px;
    padding-left: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: #3D3E4D;
    background-color: inherit;
    outline-color: #C1FF7F;
    color: #ffffff;
    font-family: "Dela Gothic One";
}
.save__button{
    background-color: #3561FF;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 20px 34px;
    width: 200px;
    font-family: "Dela Gothic One";
    color: #ffffff;
    cursor: pointer;
}


.footer{
    padding: 10px 0 50px 0;
    background-color: inherit;
}
.title__icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.text__icon{
    color: #4E4E4E;
    font-size: 24px;
}
.text__year{
    color: #4E4E4E;
    font-size: 20px;
}


@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@media (max-width: 1360px) {
    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
    .dropdown {
        right: 160px;
    }
}
@media (max-width: 1260px) {
    .form__text {
        width: 375px;
    }
}
@media (max-width: 1180px) {
    .form__text {
        width: 320px;
    }
}
@media (max-width: 1100px) {
    .names {
        font-size: 32px;
    }
}
@media (max-width: 1050px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .dropdown {
        right: 120px;
    }
    .names {
        font-size: 30px;
    }
}
@media (max-width: 950px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .dropdown {
        right: 80px;
    }
}

@media (max-width: 890px) {
    .form__text {
        width: 285px;
    }
}
@media (max-width: 870px) {
    
    .text__icon {
        font-size: 22px;
    }
    .text__year {
        font-size: 18px;
    }
    .title__profile span {
        font-size: 22px;
    }
    .list__info__title span {
        font-size: 22px;
    }
    .form__text {
        height: 50px;
    }
    .save__button {
        font-size: 14px;
    }
    .names {
        font-size: 28px;
    }
    .years {
        font-size: 20px;
    }
}
@media (max-width: 840px) {
    .form__text {
        width: 250px;
    }
}
@media (max-width: 740px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .dropdown {
        right: 40px;
    }
}
@media (max-width: 690px) {
    .form__text {
        width: 220px;
    }
    .save__button {
        font-size: 12px;
    }
    .save__button {
        padding: 15px 15px;
        width: 160px;
    }
}
@media (max-width: 650px) {
    
    .text__icon {
        font-size: 20px;
    }
    .text__year {
        font-size: 16px;
    }
    .names {
        font-size: 26px;
    }
    .years {
        font-size: 16px;
    }
}
@media (max-width: 620px) {
    .form__text {
        width: 190px;
    }
}
@media (max-width: 570px) {
    .names {
        font-size: 22px;
    }
    .menu__logo{
        display: none;
    }
    .menu__logo2{
        display: block;
    }
}
@media (max-width: 550px) {
    .list__info {
        flex-direction: column;
    }
    .form__text {
        width: 335px;
    }
    .profile__holder {
        justify-content: center;
    }
    .profile__list {
        align-items: center;
        flex-direction: column;
    }
    .username {
        align-items: center;
    }
    .user__inf{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list__info__title {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 530px) {
    
    .text__icon {
        font-size: 18px;
    }
    .text__year {
        font-size: 14px;
    }
    .profile__list {
        gap: 25px;
    }
}
@media (max-width: 490px) {
    .form__text {
        width: 275px;
    } 
    .list__info__title span {
        font-size: 20px;
    }
    .names {
        font-size: 20px;
    }
    .form__group__save {
        justify-content: center;
    }
}
@media (max-width: 430px) {
    .form__text {
        width: 225px;
    }
}
@media (max-width: 420px) {
    .menu__links {
        gap: 40px;
    }
    
    .text__icon {
        font-size: 16px;
    }
    .text__year {
        font-size: 12px;
    }
}
@media (max-width: 390px) {
    .menu__links {
        gap: 30px;
    }
    .form__text {
        width: 190px;
    }
}
@media (max-width: 350px) {
    .form__text {
        width: 160px;
    }
}