html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__logo2{
    display: none;
    font-size: 24px;
}
.menu__links{
    display: flex;
    align-items: flex-end;
    gap: 65px;
   
}

.menu__icon{
    background-color: #C1FF7F;
    border-radius: 60px;
    width: 40px;
    height: 40px;
    color: #83AE56;
    font-size: 14px;
}




.main{
    padding-top: 100px;
}

.dropdown{
    position: fixed;
    top: 0;
    margin-top: 80px;
    right: 190px;
    background-color: #3D3E4D;
    border-radius: 0 0 20px 20px;
    z-index: 998;
    display: none;
}
.menu__info{
    display: flex;
    flex-direction: column;
    padding: 0 40px 30px 40px;
}
.menu__info__link{
    padding-top: 10px;
}
.red__butt{
    height: 295px;
    max-width: 400px;
    background-color: #FCD4D4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.red__butt:hover{
    transform: scale(1.1);
}
.blue__butt{
    height: 295px;
    max-width: 400px;
    background-color: #C5DDF4;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.blue__butt:hover{
    transform: scale(1.1);
}
.orange__butt{
    height: 295px;
    max-width: 400px;
    background-color: #FEE4C2;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.orange__butt:hover{
    transform: scale(1.1);
}
.yellow__butt{
    height: 295px;
    max-width: 400px;
    background-color: #F7FAC0;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
    display: block;
}
.yellow__butt:hover{
    transform: scale(1.1);
}
.green__butt{
    height: 295px;
    max-width: 400px;
    background-color: #DBFFB5;
    padding: 16px 25px;
    border-radius: 10px;
    transition: 0.5s;
}
.green__butt:hover{
    transform: scale(1.1);
}

.tittle__butt{
    display: flex;
    justify-content: flex-start;
}
.tittle__butt span{
    font-size: 10px;
    color: #50526F;
}
.info__butt{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 25px;
    gap: 17px;
}
.name__butt{
    display: flex;
    justify-content: flex-start;
    width: 202px;
}
.name__butt span{
    font-size: 18px;
    text-align: start;
}
.color__text{
    display: flex;
    justify-content: flex-start;
}
.color__text span{
    color: #F9874A;
    font-size: 14px;
}
.text__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.month{
    color: #50526F;
    font-size: 12px;
}
.view__holder{
    background-color: #ffffff;
    padding: 3px 14px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.view{
    color: #3561FF;
    font-size: 14px;
}
.new__course{
    padding-top: 55px;
}
.title__course{
    padding-bottom: 35px;
}
.title__course span{
    font-size: 24px;
}
.list__course{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}
.list__contin__course{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contin__course{
    padding-top: 110px;
}
.section__course{
    background-color: #2E2E35;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 40px;
}
.end__course{
    padding-top: 110px;
    padding-bottom: 120px;
}
.completed span{
    font-size: 30px;
    text-align: center;
}
.completed{
    display: flex;
    background-color: #F9874A;
    padding: 10px 17px;
    border-radius: 20px;
}
.viewed__theory{
    padding-top: 20px;
    padding-bottom: 10px;
}
.viewed__theory span{
    font-size: 16px;
}
.viewed__video{
    padding-bottom: 10px;
}
.viewed__video span{
    font-size: 16px;
}
.tests{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.tests__text{
    font-size: 16px;
}
.tests__text__num{
    font-size: 18px;
    color: #F9874A;
}
.tests__mistake span{
    font-size: 16px;
    color: #B7B7B7;
}
.rating{
    padding-top: 35px;
}
.rating__text{
    font-size: 24px;
}
.rating__num{
    font-size: 24px;
    color: #F9874A;
}

.footer{
    padding: 10px 0 50px 0;
    background-color: inherit;
}
.title__icon{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}
.text__icon{
    color: #4E4E4E;
    font-size: 24px;
}
.text__year{
    color: #4E4E4E;
    font-size: 20px;
}


@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 1360px) {
    .container {
        padding-left: 160px;
        padding-right: 160px;
    }
    .dropdown {
        right: 160px;
    }
    .info__butt {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .name__butt span {
        font-size: 16px;
        text-align: center;
    }
    .name__butt {
        justify-content: center;
        width: 245px;
    }
    .color__text {
        justify-content: center;
    }
}

@media (max-width: 1050px) {
    .container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .dropdown {
        right: 120px;
    }
    
}
@media (max-width: 950px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .dropdown {
        right: 80px;
    }
    
}
@media (max-width: 890px) {
    .completed span{
        font-size: 28px;
    }
    .rating__text {
        font-size: 20px;
    }
    .viewed__theory span {
        font-size: 14px;
    }
    .viewed__video span {
        font-size: 14px;
    }
    .tests__text__num {
        font-size: 16px;
    }
    .tests__mistake span {
        font-size: 14px;
    }
}
@media (max-width: 870px) {
    .text__icon {
        font-size: 22px;
    }
    .text__year {
        font-size: 18px;
    }
    .rating__text {
        font-size: 18px;
    }
}
@media (max-width: 850px) {
    .completed span {
        font-size: 22px;
    }
}
@media (max-width: 740px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .dropdown {
        right: 40px;
    }
    .section__course {
        gap: 30px;
    }
}
@media (max-width: 680px) {
    .info__butt {
        align-items: flex-start;
        flex-direction: row;
        padding-top: 45px;
        padding-bottom: 25px;
    }
    .name__butt span {
        font-size: 18px;
        text-align: start;
    }
    .name__butt {
        justify-content: flex-start;
    }
    .color__text {
        justify-content: flex-start;
    }
    .section__course {
        gap: 20px;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 41px 20px;
    }
    .completed {
        padding: 14px 17px;
        justify-content: center;
    }
    .viewed__theory {
        display: flex;
        justify-content: center;
    }
    .viewed__video {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    .tests {
        justify-content: center;
    }
    .rating {
        display: flex;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .list__course {
        gap: 30px;
        flex-direction: column;
    }
}
@media (max-width: 650px) {
    .title__course span {
        font-size: 22px;
    }
    .text__icon {
        font-size: 20px;
    }
    .text__year {
        font-size: 16px;
    }
}
@media (max-width: 590px) {
    .color__text span {
        font-size: 12px;
    }
    .name__butt span {
        font-size: 16px;
    }
    .name__butt {
        width: 172px;
    }
    .list__course {
        max-width: 300px;
    }
}
@media (max-width: 570px) {
    .menu__logo{
        display: none;
    }
    .menu__logo2{
        display: block;
    }
}
@media (max-width: 530px) {
    .new__course {
        padding-top: 25px;
    }
    .text__icon {
        font-size: 18px;
    }
    .text__year {
        font-size: 14px;
    }
    .viewed__theory span {
        text-align: center;
    }
    .viewed__video span {
        text-align: center;
    }
    .tests {
        text-align: center;
    }
    .tests__text {
        font-size: 14px;
    }
    .tests__text__num {
        font-size: 14px;
    }
}
@media (max-width: 460px) {
    .info__butt {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .completed span {
        font-size: 16px;
    }
    .name__butt span {
        font-size: 14px;
        text-align: center;
    }
    .view {
        font-size: 10px;
    }
    .month {
        font-size: 10px;
    }
    .color__text {
        justify-content: center;
    }
    .name__butt {
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .title__course span {
        font-size: 20px;
    }
    .menu__links {
        gap: 40px;
    }
    
    .text__icon {
        font-size: 16px;
    }
    .text__year {
        font-size: 12px;
    }
    .rating__text {
        font-size: 14px;
    }
    .rating__num {
        font-size: 16px;
    }
}
@media (max-width: 390px) {
    .menu__links {
        gap: 30px;
    }
    .name__butt {
        width: 150px;
    }
    .butt__image img{
        max-width: 70%;
    }
    .green__butt {
        height: 270px;
    }
    .yellow__butt {
        height: 270px;
    }
    .blue__butt {
        height: 270px;
    }
    .red__butt {
        height: 270px;
    }
    .orange__butt {
        height: 270px;
    }
    .completed span {
        font-size: 12px;
    }
}