html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: #232325;
    font-family: "Dela Gothic One";
    margin: 0;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}
::-webkit-scrollbar-thumb {
    background-color: #646262;
    ;
    border-radius: 3px;
}

.container{
    max-width: 1480px;
    margin: 0 auto;
    padding-left: 190px;
    padding-right: 190px;
}
.header{
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    background-color: #232325;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.header__inner{
    padding: 20px 0 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__logo{
    font-size: 24px;
}
.menu__links{
    display: flex;
    gap: 23px;
   
}
.menu__links span{
    font-size: 16px;
}
.color{
    border-radius: 5px;
    padding: 0 3px 0 3px;
}
.color2{
    border-radius: 5px;
    padding: 0 3px 0 3px;
    color: #F9874A;
}
.color:hover{
    background-color: #F9874A;
    transition: 0.1s;
    
}



.main{
    color: #000000;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, #C0F9FA, #C0FAD4, #F7FAC0);
    background-repeat: no-repeat;
    background-size: cover;
}
.registr__holder{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 75px;
}
.registr__list{
    background-color: #ffffff;
    padding: 45px 75px 120px 75px;
    border-radius: 30px;
}
.reg__title{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.reg__title span{
    font-size: 20px;
}
.form__group{
    padding-top: 20px;
}
.form__text{
    border-radius: 10px;
    width: 405px;
    height: 64px;
    font-family: "Dela Gothic One";
    padding-left: 20px;
    background-color: #F5F5F5;
    border-color: #D9D9D9;
    border-style: solid;
    outline-color: #F9874A;
}
.registr__pass{
    padding-bottom: 25px;
}
.reg__button{
    border-radius: 10px;
    width: 405px;
    height: 64px;
    background-color: #C1FF7F;
    font-family: "Dela Gothic One";
    font-size: 20px;
    border: none;
    outline: none;
}
.registr__link{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.link__aut{
    font-size: 14px;
    text-decoration: underline;
    
}



@font-face{
    font-family: "Dela Gothic One";
    src: url(../assets/fonts/DelaGothicOne-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}